.appbar {
  position: fixed;
  /*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
}

.login-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
